<!DOCTYPE html>
<html>
<head>
	<title>Dojo Survey</title>
</head>
<body>
	<h3>Fill in the Form Bellow</h3>
	<form action="/result" method="post">
		<p>Your Name: <input type="text" name="name"></p>
		<p>
			Dojo Location:
			<select name="location">
				<option value="">Select Location</option>
				<option value="San Jose">San Jose</option>
				<option value="Dallas">Dallas</option>
				<option value="Seattle">Seattle</option>
			</select>
		</p>
		<p>
			Favorite Language:
			<select name="fav_lang">
				<option value="">Select Language</option>
				<option value="javascript">JavaScript</option>
				<option value="python">Python</option>
				<option value="Php">PHP</option>
				<option value="Ruby">Ruby</option>
			</select>
		</p>
		<p>
			Cooment<span title="Optional">(?)</span><br>
			<textarea name="comment" rows="5" cols="30"></textarea>
		</p>
		<input type="submit" value="Submit">
	</form>
</body>
</html>