<!DOCTYPE html>
<html>
<head>
	<title>Dojo</title>
</head>
<body>
	<form action="">
		<fieldset>
			<legend>Personal Info</legend>
			<label id="fn">
				First Name: <input type="text" name="firstname" id="fn" placeholder="Enter your First Name">
			</label>
			
			<label id="ln">
				Last Name: <input type="text" name="lastname" id="ln" placeholder="Enter your Last Name">
			</label>
			<label for="email">
				Email: <input type="email" name="email" id="email" placeholder="Enter your Email">
			</label>
			<input type="submit" value="submit">
		</fieldset>
	</form>
</body>
</html>