<!DOCTYPE html>
<html>
<head>
	<title>Success Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul>
			{% for category, message in messages %}
				<li class="{{ category }}">{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<a href="/logout"><button>Logout</button></a>
	<h3>Hi, <span>{{session["firstName"]}}</span></h3>
	<hr>
	<h4>Welcome to your Dashboard!</h4>
</body>
</html>